$color-darkest-grey: #3f3f3f;
$color-dark-grey: #888888;
$color-dark-green: #2b8800;
$color-dark-green-transparent: #0cff004d;
$color-dark-red: #882b00;
$color-dark-red-transparent: #ff0c004d;
$color-light-grey: #eeeeee;
$color-white: #ffffff;